= content_for(:title, 'Население | Комментаторы')
.single-comment.micro-blog
  .comment-top
    .username
      = link_to @yellow_lord.username, user_path(@yellow_lord)
  .avatar
    = image_tag(@yellow_lord.avatar_url, class: 'img-circle')
  .bubble-comment
    .content
      Местное население. Мирное и веселое, но черезчур переборчивое >_<
.users
  %table.table.table-striped
    %tr
      %td.single-user
      %td.karma-table 
        Карма
    - @users.each do |user|
      %tr
        %td.single-user
          = image_tag(user.avatar_url, class: 'img-circle')
          = link_to user.username, user_path(user)
        %td.karma-table 
          = user.karma