%table.table
  %tr.user-show
    %td.single-user
      = image_tag(@user.avatar_url, class: 'img-circle')
      = @user.username
    %td
      = @user.karma
%h6
  = link_to 'Редактировать профиль', edit_user_registration_path
.user-comments
  - @user.comments.each do |comment|
    .row
      .thumb-image.col-md-4.col-xs-4
        = link_to(image_tag(comment.image.image.url(:square)), image_path(comment.image))
      .single-comment.no-left-padding.col-md-8.col-xs-8
        .bubble-comment.bubble-comment-user
          .content
            = comment.content
        .voted
          .rating
            = comment.rating