%h1
  = image_tag(@user.avatar_url, class: 'img-circle')
  = @user.username
  = @user.karma
%h6
  = link_to 'Редактировать профиль', edit_user_registration_path
.comments
  - @user.comments.each do |comment|
    .thumbnail-image
      = comment.image.image.url(:thumb)
    .single-comment
      .image-id
        = link_to("##{comment.image.id}", image_path(comment.image)) 
      .bubble-comment
        .content
          = comment.content
      .voted
        .rating
          = comment.rating