%h1
  = image_tag(@user.avatar_big_url)
  = @user.nickname
  = @user.username
.comments
  - @user.comments.each do |comment|
    %h4.single-comment
      = link_to("##{comment.image.id}", image_path(comment.image)) 
      = comment.content