= content_for(:title, "Перлы | Комментаторы")
.single-comment.micro-blog
  .comment-top
    .username
      = link_to @yellow_lord.username, user_path(@yellow_lord)
  .avatar
    = image_tag(@yellow_lord.avatar_url, class: 'img-circle')
  .bubble-comment
    .content
      Если ты видишь свое имя на первых страницах топа - делай скриншот и вешай на стену. Ты многого добился в этой жизни!
- @comments.each do |comment|
  %article.commentator
    - @top_comment = comment.content
    .image
      = link_to(image_tag(comment.image.image.url(:medium), class: "resize"), image_path(comment.image))
      .top-comment
        %h1
          = @top_comment
        - if comment.image.comments.any?
          %h4
            = link_to(comment.image.comments.order("rating DESC").first.user.username, user_path(comment.image.comments.order("rating DESC").first.user), rel: 'author')
      .copyright
        %h6
          commentators.to
    %h4.share
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{comment.image.id}", "data-yashareTitle" => @top_comment}
= will_paginate(@comments)