= content_for(:title, "DNIWE | Комментаторы")
- @comments.each do |comment|
  %article.commentator
    - if comment.commentable.class.name == 'Image'
      = render "images/image_mobile", image: comment.commentable
    - if comment.commentable.class.name == 'News'
      = render "news/news_mobile", image: comment.commentable
    .commentator-footer
      = render 'layouts/share', top_comment: @top_comment, shareable: comment.commentable
= will_paginate(@comments, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)