= content_for(:title, "DNIWE | Комментаторы")
.single-comment.micro-blog
  .comment-top
    .username
      = link_to @yellow_lord.username, user_path(@yellow_lord)
  .avatar
    = image_tag(@yellow_lord.avatar_url, class: 'img-circle')
  .bubble-comment
    .content
      Все добавленные материалы попадают в Днище. Отсюда админы выбирают лучшее. Не упусти шанс оставить первый комментарий!
- @recent_posts.each do |image|
  %article.commentator
    - if image.comments.any?
      - @top_comment = image.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комментариев пока нет'
    - if image.class.name == 'Image'
      = render "images/image", top_comment: @top_comment, image: image
      .commentator-footer
        = render 'layouts/share', shareable: image
    - elsif image.class.name == 'News'
      = render "news/news", news: image
    - elsif image.class.name == 'Fact'
      = render "facts/fact", fact: image
    - elsif image.class.name == 'Story'
      = render "stories/story", story: image
    - elsif image.class.name == 'Fiction'
      = render "fictions/fiction", fiction: image
    = render "comments/top_comments", post: image
= will_paginate(@recent_posts, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)