= content_for(:title, "DNIWE | Комментаторы")
.single-comment.micro-blog
  .comment-top
    .username
      = link_to @yellow_lord.username, user_path(@yellow_lord)
  .avatar
    = image_tag(@yellow_lord.avatar_url, class: 'img-circle')
  .bubble-comment
    .content
      Все картинки попадают в Днище. Отсюда админы выбирают лучшее. Не упусти шанс оставить первый комментарий!
- @recent_images.each do |image|
  %article.commentator
    - if image.comments.any?
      - @top_comment = image.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комметариев пока нет'
    .image
      = link_to(image_tag(image.image.url(:medium), class: "resize"), image_path(image))
      .top-comment
        %h1
          = @top_comment
        - if image.comments.any?
          %h4
            = link_to(image.comments.order("rating DESC, created_at ASC").first.user.username, user_path(image.comments.order("rating DESC, created_at ASC").first.user), rel: 'author')
    %h4.share
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{image.id}", "data-yashareTitle" => @top_comment}
    - if image.comments.size > 1
      .single-comment
        .comment-top
          .username
            = link_to image.comments.order("rating desc, created_at ASC").second.user.username, user_path(image.comments.order("rating desc, created_at ASC").second.user), rel: 'author'
          .medal
            .silver-medal
        .avatar.img-circle
          = image_tag(image.comments.order("rating desc, created_at ASC").second.user.avatar_url, class: 'img-circle')
        .bubble-comment
          .content
            = image.comments.order("rating desc, created_at ASC").second.content
        .voted
          .rating
            = image.comments.order("rating desc, created_at ASC").second.rating
      -if image.comments.size > 2
        .single-comment
          .comment-top
            .username
              = link_to image.comments.order("rating desc, created_at ASC").third.user.username, user_path(image.comments.order("rating desc, created_at ASC").third.user), rel: 'author'
            .medal
              .bronze-medal
          .avatar.img-circle
            = image_tag(image.comments.order("rating desc, created_at ASC").third.user.avatar_url, class: 'img-circle')
          .bubble-comment
            .content
              = image.comments.order("rating desc, created_at ASC").third.content
          .voted
            .rating
              = image.comments.order("rating desc, created_at ASC").third.rating
    - else
      .single-comment
        .comment-top
          .username
            %a
              Местный тролль
            /
              .medal
                .gold-medal
        .avatar.img-circle
          = image_tag('/trollface.png', class: 'img-circle')
        .bubble-comment
          .content
            = "Здесь мог бы быть твой комментарий! Хотя нет, вряд ли ты на это способен))00"
        .rating-no-votes
          = '-∞'
= will_paginate(@recent_images, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)