= content_for(:title, "DNIWE | Комментаторы")
- @recent_posts.each do |image|
  %article.commentator
    - if image.class.name == 'Image'
      = render "images/image_mobile", image: image
      .commentator-footer
        = render 'layouts/share', top_comment: @top_comment, shareable: image
    - elsif image.class.name == 'News'
      = render "news/news_mobile", news: image
    - elsif image.class.name == 'Story'
      = render "stories/story_mobile", story: image
    - elsif image.class.name == 'Fiction'
      = render "fictions/fiction_mobile", fiction: image
    - elsif image.class.name == 'Fact'
      = render "facts/fact_mobile", fact: image
    %table.table.comments-mobile
      - if image.comments.size > 0
        = render 'comments/comment_mobile', comment: image.comments.order('rating DESC').first
        - if image.comments.size > 1
          = render 'comments/comment_mobile', comment: image.comments.order('rating DESC').second
          -if image.comments.size > 2
            = render 'comments/comment_mobile', comment: image.comments.order('rating DESC').third
= will_paginate(@recent_posts, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)