= content_for(:title, "Комментаторы - развлекательный сайт нового формата")
= render 'layouts/header_mobile'
- @recent_images.each do |image|
  %article.commentator
    - if image.comments.any?
      - @top_comment = image.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комметариев пока нет'
    = render 'images/image_mobile', image: image
    %h4.share
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{image.id}", "data-yashareTitle" => @top_comment}
    .comments-mobile
      - if image.comments.size > 1
        = render 'comments/comment_mobile', comment: image.comments.order('rating DESC').second
        -if image.comments.size > 2
          = render 'comments/comment_mobile', comment: image.comments.order('rating DESC').third
      - else
        .single-comment-mobile
          .comment-top
            .username
              %a
                Местный тролль
              /
          .avatar.img-circle
            = image_tag('/trollface.png', class: 'img-circle')
          .content
            = "Здесь мог бы быть твой комментарий! Хотя нет, вряд ли ты на это способен))00"
          .rating-no-votes
            = '-∞'
= will_paginate(@recent_images, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)