= content_for(:title, "Комментаторы - развлекательный сайт нового формата")
.single-comment.micro-blog
  .comment-top
    .username
      = link_to 'Местный тролль', '/'
  .avatar
    = image_tag('/trollface.png', class: 'img-circle')
  .bubble-comment
    .content
      Хочешь проверить, насколько ты остроумен? Оставь комментарий к картинке и следи за реакциею других людей.
- @recent_images.each do |image|
  %article.commentator
    .img-header
      %h4.created_at_image
        = image.created_at.strftime("%d/%m/%Y")
      %h4.title
        = link_to "", image_path(image), class: "fa fa-comments-o"
        = image.comments.count
      - if image.comments.any?
        - @top_comment = image.comments.order("rating DESC").first.content
      - else
        - @top_comment = 'Комметариев пока нет'
    .image
      = link_to(image_tag(image.image.url(:medium), class: "resize"), image_path(image))
    .top-comment
      %h1
        = @top_comment
      - if image.comments.any?
        %h4
          = link_to(image.comments.order("rating DESC").first.user.username, user_path(image.comments.order("rating DESC").first.user))
    %h4.share
      :javascript
        (function(w,doc) {
        if (!w.__utlWdgt ) {
            w.__utlWdgt = true;
            var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
        }})(window,document);
      .uptolike-buttons{"data-background-alpha" => "0.0", "data-background-color" => "ededed", "data-buttons-color" => "ff9300", "data-counter-background-alpha" => "1.0", "data-counter-background-color" => "ffffff", "data-following-enable" => "false", "data-icon-color" => "ffffff", "data-like-text-enable" => "false", "data-mode" => "share", "data-orientation" => "horizontal", "data-pid" => "1257234", "data-selection-enable" => "true", "data-share-counter-size" => "14", "data-share-counter-type" => "common", "data-share-shape" => "round", "data-share-size" => "40", "data-share-style" => "1", "data-sn-ids" => "vk.fb.tw.ok.mr.", "data-text-color" => "000000"}
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.herokuapp.com/images/#{image.id}", "data-yashareTitle" => @top_comment}
    - if image.comments.size > 1
      .single-comment
        .comment-top
          .username
            = link_to image.comments.order("rating desc").second.user.username, user_path(image.comments.order("rating desc").second.user)
          .medal
            .silver-medal
        .avatar.img-circle
          = image_tag(image.comments.order("rating desc").second.user.avatar_url, class: 'img-circle')
        .bubble-comment
          .content
            = image.comments.order("rating desc").second.content
        .voted
          .rating
            = image.comments.order("rating desc").second.rating
      -if image.comments.size > 2
        .single-comment
          .comment-top
            .username
              = link_to image.comments.order("rating desc").third.user.username, user_path(image.comments.order("rating desc").third.user)
            .medal
              .bronze-medal
          .avatar.img-circle
            = image_tag(image.comments.order("rating desc").third.user.avatar_url, class: 'img-circle')
          .bubble-comment
            .content
              = image.comments.order("rating desc").third.content
          .voted
            .rating
              = image.comments.order("rating desc").third.rating
    - else
      .single-comment
        .comment-top
          .username
            %a
              Местный тролль
            /
              .medal
                .gold-medal
        .avatar.img-circle
          = image_tag('/trollface.png', class: 'img-circle')
        .bubble-comment
          .content
            = "Здесь мог бы быть твой комментарий! Хотя нет, вряд ли ты на это способен))00"
        .voted
          .rating
            = '-∞'
= will_paginate(@recent_images, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)