.image
  .category
    = link_to "", news_index_path, title: "Реальные новости"
    .icon.news-icon
      = render "icons/realnews1.svg"
  = render 'layouts/post_vote_block', post: news
  = link_to(image_tag(news.image.url(:medium), alt: "#{news.title}", class: "resize"), news_path(news))
  .top-comment.news-title
    %h1
      = news.title
  = render 'layouts/image_footer', post: news
.commentator-footer
  = render 'layouts/share', shareable: news, shareable_type: 'news'
  = render 'layouts/text_content', post: news