.image
  = link_to(image_tag(image.image.url(:medium), alt: "#{top_comment}", class: "resize"), news_path(image))
  - if image.comments.any?
    .top-comment
      %h1
        = top_comment
      %h4
        = link_to(image.comments.order("rating DESC, created_at ASC").first.user.username, user_path(image.comments.order("rating DESC, created_at ASC").first.user), rel: 'author')
  - else
    .top-comment
      %h1
        Комментариев пока нет
  .copyright
    %h6
      commentators.to
.commentator-footer
  = render 'layouts/share', top_comment: top_comment, shareable: image
  .news-content-wrapper
    .news-content
      = image.content