.image
  .category
    = link_to "", news_index_path
    .icon.news-icon
      = render "icons/realnews1.svg"
  = link_to(image_tag(image.image.url(:medium), alt: "#{image.title}", class: "resize"), news_path(image))
  .top-comment.news-title
    %h1
      = image.title
.commentator-footer
  = render 'layouts/share', top_comment: top_comment, shareable: image
  .news-content-wrapper
    .news-content
      = simple_format(image.content)