- if news.comments.any?
  - @top_comment = news.comments.order("rating DESC, created_at ASC").first.content
- else
  - @top_comment = 'Комментариев пока нет'
.image-mobile
  = link_to(image_tag(news.image.url(:medium), class: "resize"), news_path(news))
  .top-comment
    %h1
      = link_to(news.title, news_path(news))
.commentator-footer
  %h4.share
    -if user_signed_in?
      - if current_user.admin?
        = link_to 'Редактировать', edit_news_path(news)
        = link_to 'Фтопку', news_path(news), method: :delete
  = render 'layouts/share', shareable: news, shareable_type: 'news'
  .news-content-wrapper
    .news-content
      = simple_format(news.content)