.image
  .category
    = link_to "", news_index_path, class: "fa fa-info-circle"
  = link_to(image_tag(image.image.url(:medium), alt: "#{top_comment}", class: "resize"), news_path(image))
  .top-comment.news-title
    %h1
      = image.title
  .copyright
    %h6
      commentators.to
.commentator-footer
  = render 'layouts/share', top_comment: top_comment, shareable: image
  .news-content-wrapper
    .news-content
      = simple_format(image.content)