= content_for :metashare do
  %meta{content: "#{@news.title} - реальные новости | Комментаторы", property: "og:title"}/
  %meta{content: "#{@news.image.url(:thumb)}", property: "og:image"}/
  %meta{content: "#{truncate(@news.content, length: 300, separator: ' ')}"}/
= content_for(:title, "#{@news.title} - реальные новости | Комментаторы")
.commentator
  = render 'news/news', news: @news
  .under-image
    - if user_signed_in?
      = render 'comments/add_comment', commentable: @news
    - else
      #not-signed-in
        %h3 Для голосования и комментирования необходимо войти.
    .sort_comments
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    #comments
      = render @comments
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-lg.btn-custom.load-more Еще
    #comments
%h1
