.image
  .category
    = link_to "", facts_path, title: "Занимательные факты"
    .icon.fact-icon
      = render "icons/question.svg"
  = link_to(image_tag(fact.image.url(:medium), alt: "#{fact.title}", class: "resize"), fact_path(fact))
  .top-comment.news-title
    %h1
      = fact.title
  = render 'layouts/image_footer', post: fact
.commentator-footer
  = render 'layouts/share', shareable: fact, shareable_type: 'facts'
  .news-content-wrapper
    .news-content
      = simple_format(fact.content)