= content_for(:title, "Занимательные факты | Комментаторы")
- @recent_stories.each do |story|
  %article.commentator
    - if story.comments.any?
      - @top_comment = story.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комментариев пока нет'
    = render "stories/story", story: story
    .comments
      - if story.comments.size > 1
        .single-comment
          .comment-top
            .username
              = link_to story.comments.order("rating desc, created_at ASC").second.user.username, user_path(story.comments.order("rating desc, created_at ASC").second.user), rel: 'author'
            .medal
              .silver-medal
          .avatar.img-circle
            = image_tag(story.comments.order("rating desc, created_at ASC").second.user.avatar_url, class: 'img-circle')
          .bubble-comment
            .content
              = story.comments.order("rating desc, created_at ASC").second.content
          .rating-no-votes
            = story.comments.order("rating desc, created_at ASC").second.rating
        -if story.comments.size > 2
          .single-comment
            .comment-top
              .username
                = link_to story.comments.order("rating desc, created_at ASC").third.user.username, user_path(story.comments.order("rating ASC").third.user), rel: 'author'
              .medal
                .bronze-medal
            .avatar.img-circle
              = image_tag(story.comments.order("rating desc, created_at ASC").third.user.avatar_url, class: 'img-circle')
            .bubble-comment
              .content
                = story.comments.order("rating desc, created_at ASC").third.content
            .rating-no-votes
              = story.comments.order("rating desc, created_at ASC").third.rating
      - else
        .single-comment
          .comment-top
            .username
              %a
                Местный тролль
              /
                .medal
                  .gold-medal
          .avatar.img-circle
            = image_tag('/trollface.png', class: 'img-circle')
          .bubble-comment
            .content
              = "Здесь мог бы быть твой комментарий! Хотя нет, вряд ли ты на это способен))00"
          .rating-no-votes
            = '-∞'
= will_paginate(@recent_stories, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)