= content_for :metashare do
  %meta{content: "#{@story.title}", property: "og:title"}/
  %meta{content: "#{@story.image.url(:thumb)}", property: "og:image"}/
  %meta{content: "#{truncate(@story.content, length: 300, separator: ' ')}", property: "og:description"}/
= content_for(:title, "#{@story.title} - время офигительных историй | Комментаторы")
.commentator
  = render 'stories/story', story: @story
  .under-image
    - if user_signed_in?
      = render 'comments/add_comment', commentable: @story
    - else
      #not-signed-in
        %h3 Для голосования и комментирования необходимо войти.
    .sort_comments
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    #comments
      = render @comments
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-lg.btn-custom.load-more Еще
    #comments
%h1
