.image
  .category
    = link_to '', fictions_path
    .icon.ufo-icon
      = render "icons/ufo.svg"
  = link_to(image_tag(fiction.image.url(:medium), alt: "#{fiction.title}", class: "resize"), fiction_path(fiction))
  .top-comment.news-title
    %h1
      = fiction.title
.commentator-footer
  = render 'layouts/share', shareable: fiction, shareable_type: 'fiction'
  .news-content-wrapper
    .news-content
      = simple_format(fiction.content)