= content_for :metashare do
  %meta{content: "#{@fiction.title}", property: "og:title"}/
  %meta{content: "#{@fiction.image.url(:thumb)}", property: "og:image"}/
  %meta{content: "Комментаторы - это новый вид интерактивного развлечения, который заключается в комментировании картинок с целью попасть в топ лучших, размещенных непосредственно под изображением.", property: "og:description"}/
= content_for(:title, "#{@fiction.title} - факт | Комментаторы")
.img-header
  %h4.created_at_image
    = @fiction.created_at.strftime("%d/%m/%Y")
  %h4.title
    Добавил: 
    - if @fiction.user != nil
      = link_to @fiction.user.username, user_path(@fiction.user), rel: 'author'
    - else
      Повелитель удаленных душ
    - if user_signed_in?
      - if current_user.admin?
        - unless @fiction.godnota?
          %i.godnota.dniwe.fa.fa-thumbs-o-up{ data: {:post_id => @fiction.id, type: "fictions"}}
        = link_to 'Редактировать', edit_fiction_path(@fiction)
        = link_to 'Фтопку', fiction_path(@fiction), method: :delete
.commentator
  = render 'fictions/fiction', fiction: @fiction
  .under-image
    - if user_signed_in?
      = render 'comments/add_comment', commentable: @fiction
    - else
      #not-signed-in
        %h3 Для голосования и комментирования необходимо войти.
    .sort_comments
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    #comments
      = render @comments
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-lg.btn-custom.load-more Еще
    #comments
%h1
