= content_for :metashare do
  %meta{content: "#{@fiction.title} - время офигительных историй | Комментаторы", property: "og:title"}/
  %meta{content: "#{@fiction.image.url(:thumb)}", property: "og:image"}/
  %meta{content: "#{@fiction.content}", property: "og:description"}/
= content_for(:title, "#{@fiction.title} - время офигительных историй | Комментаторы")
.img-header
  %h4.created_at_image
    = @fiction.created_at.strftime("%d/%m/%Y")
  %h4.title
    Добавил: 
    - if @fiction.user != nil
      = link_to @fiction.user.username, user_path(@fiction.user), rel: 'author'
    - else
      Повелитель удаленных душ
    - if user_signed_in?
      - if current_user.admin?
        - unless @fiction.godnota?
          %i.godnota.dniwe.fa.fa-thumbs-o-up{ data: {:image_id => @fiction.id}}
.commentator
  = render 'fiction_mobile', fiction: @fiction
  .under-image-mobile
    - if user_signed_in?
      = form_for ([@fiction, @fiction.comments.build]), remote: true do |f|
        %p.add-comment
          = f.hidden_field :commentable_id
          .row
            .col-xs-10.col-sm-10.col-md-10
              = f.text_field :content, maxlength: 70, class: 'form-control', id: 'comment-field'
            .col-xs-2.col-sm-2.col-md-2
              %p.counter-mobile#counter
                %span
                  0
    - else
      #not-signed-in
        %h3 Для голосования и комментирования необходимо войти.
    .sort_comments-mobile
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    %table.table.comments-mobile#comments
      = render partial: 'comments/comment_mobile', collection: @comments, as: :comment
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-md.btn-custom.load-more Еще
    #comments
%h1
