.icons-navigation
  .category.first
    = link_to '', news_index_path
    .big-icon
      = render 'icons/realnews1.svg'
  .category.second
    = link_to '', fictions_path
    .big-icon
      = render 'icons/ufo.svg'
  .category.third
    = link_to '', stories_path
    .big-icon
      = render 'icons/tea.svg'
  .category.fourth
    = link_to '', facts_path
    .big-icon  
      = render 'icons/question.svg'
  .category.fifth
    = link_to '', images_path
    .big-icon  
      = render 'icons/picture.svg'