.icons-navigation
  .category.first
    = link_to '', news_index_path
    .big-icon
      = render 'icons/realnews1.svg'
    .description
      %h6
        Интересные новости
  .category.second
    = link_to '', fictions_path
    .big-icon
      = render 'icons/ufo.svg'
    .description
      %h6
        Необъяснимо, не факт
  .category.third
    = link_to '', stories_path
    .big-icon
      = render 'icons/tea.svg'
    .description
      %h6
        Офигительные истории
  .category.fourth
    = link_to '', facts_path
    .big-icon  
      = render 'icons/question.svg'
    .description
      %h6
        Занимательные факты
  .category.fifth
    = link_to '', images_path
    .big-icon  
      = render 'icons/picture.svg'
    .description
      %h6
        Игра Комментаторы