.single-comment.micro-blog
  .comment-top
    .username
      = link_to 'Местный тролль', '/'
  .avatar
    = image_tag('/trollface.png', class: 'img-circle')
  .bubble-comment
    .content
      Загружать можно только картинки или gif-анимацию до 1МБ, которые не носят порнографический характер.
- if user_signed_in?

  -if @image.errors.any? 
    - @image.errors.each do |attribute, error|
      %h1 
        = error
  = form_for @image do |f|
    .upload-image
      %p
        = f.file_field :image
      %p
        = f.submit 'Добавить', class: 'btn btn-primary btn-sm'
- else
  %h1.center Сначала нужно войти