.image
  .category
    = link_to "", images_path
    .icon.picture-icon
      = render "icons/picture.svg"
  .post-votes.make-vote{ id: "post-vote-block-#{image.id}" }
    .post-vote-for{ data: {post_id: image.id, post_rating: image.rating, type: image.class.name.pluralize.downcase} }
      = '+'
    .post-vote-against
      = '-'
  = link_to(image_tag(image.image.url(:medium), alt: "#{top_comment}", class: "resize"), image_path(image))
  - if image.comments.any?
    .top-comment
      %h1
        = top_comment
      %h4
        = link_to(image.comments.order("rating DESC, created_at ASC").first.user.username, user_path(image.comments.order("rating DESC, created_at ASC").first.user), rel: 'author')
  - else
    .top-comment
      %h1
        Комментариев пока нет
  = render 'layouts/image_footer', post: image