.commentator
  .img-header
    %h4.title
      = "##{@image.id}"
      - if user_signed_in?
        - if current_user.admin?
          = link_to 'Редактировать', edit_image_path(@image)
          = link_to 'Фтопку', image_path(@image), method: :delete
    %h4.share
      = render 'layouts/share'
    = image_tag(@image.url, class: "resize")
  - if @image.comments.any?
    .top-comment
      %h1
        = @top_comment.content
      %h4
        = link_to(@top_comment.user.username, user_path(@image.comments.last.user))
    %h1
      Комментарии:
    %p.comments
      - @image.comments.each do |comment| 
        .single-comment
          .username
            = link_to comment.user.username, user_path(comment.user)
          .bubble
            .content
              = comment.content
            #rating
              = "[#{comment.rating}]"
          - if user_signed_in?
            - unless comment.user.id == current_user.id
              #votes.make-vote
                #vote-against{ data: {:image_id => @image.id, :comment_id => comment.id} }
                  = '-1'
                .separator
                  = '/'
                #vote-for{ data: {:image_id => @image.id, :comment_id => comment.id} }
                  = '+1'
          - else
            #votes
              = link_to '-1', vote_down_image_comment_path(comment.image, comment), method: :post
              = link_to '+1', vote_up_image_comment_path(comment.image, comment), method: :post
              = "[#{comment.rating}]"
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'Фтопку', image_comment_path(comment.image, comment), method: :delete
  - else
    .top-comment
      %h1
        Комметариев пока нет
%h1
= render 'add_comment'
