= content_for :metashare do
  - if @image.comments.any?
    %meta{content: "#{@top_comment}", property: "og:title"}/
  - else  
    %meta{content: "Комментариев пока нет", property: "og:title"}/
  %meta{content: "#{@image.image.url(:thumb)}", property: "og:image"}/
  %meta{content: "Комментаторы - это новый вид интерактивного развлечения, который заключается в комментировании картинок с целью попасть в топ лучших, размещенных непосредственно под изображением.", property: "og:description"}/
= content_for(:title, "Комментатор ##{@image.id} - #{@top_comment} | Комментаторы")
.commentator
  = render 'images/image', image: @image, top_comment: @top_comment
  .commentator-footer
    = render 'layouts/share', shareable: @image, top_comment: @top_comment
  .under-image
    - if user_signed_in?
      = render 'comments/add_comment', commentable: @image, top_comment: @top_comment
    - else
      #not-signed-in
        %h3 Для голосования и комментирования необходимо войти.
    .sort_comments
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    #comments
      = render @comments
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-lg.btn-custom.load-more Еще
    #comments
%h1
