%article.commentator
  .img-header
    %h4.created_at_image
      = @image.created_at.strftime("%d/%m/%Y")
    %h4.title
      = "##{@image.id}"
      - if user_signed_in?
        - if current_user.admin?
          = link_to 'Редактировать', edit_image_path(@image)
          = link_to 'Фтопку', image_path(@image), method: :delete
    = image_tag(@image.url, class: "resize")
  - if @image.comments.any?
    .top-comment
      %h1
        = @top_comment.content
      %h4
        = link_to(@top_comment.user.username, user_path(@top_comment.user))
    %h4.share
      = render 'layouts/share'
    - if user_signed_in?
      = render 'add_comment'
    - else
      %h3 Присоединяйся!
    .sort_comments
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    #comments
      = render @comments
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-primary.btn-lg Еще
  - else
    .top-comment
      %h1
        Комметариев пока нет
    %h4.share
      = render 'layouts/share'
    - if user_signed_in?
      = render 'add_comment'
    - else
      %h3 Присоединяйся!
    #comments
%h1
