%article.commentator
  .img-header
    %h4.title
      = "##{@image.id}"
      - if user_signed_in?
        - if current_user.admin?
          = link_to 'Редактировать', edit_image_path(@image)
          = link_to 'Фтопку', image_path(@image), method: :delete
    %h4.share
      = render 'layouts/share'
    = image_tag(@image.url, class: "resize")
  - if @image.comments.any?
    .top-comment
      %h1
        = @top_comment.content
      %h4
        = link_to(@top_comment.user.username, user_path(@top_comment.user))
    %h1
      Комментарии:
    %p.comments
      - @image.comments.each do |comment| 
        .single-comment
          .username
            = link_to comment.user.username, user_path(comment.user)
          .avatar.img-circle
            = image_tag(comment.user.avatar_url, class: 'img-circle')
          .bubble-comment
            .content
              = comment.content
            .rating
              = comment.rating
          - if user_signed_in?
            - unless comment.user.id == current_user.id
              - if current_user.voted_for?(comment.id)
                - if current_user.get_vote(comment.id) == '1'
                  .voted
                    %i.voted-for.fa.fa-thumbs-up.green
                - else 
                  .voted
                    %i.voted-against.fa.fa-thumbs-down.red
              - else
                .votes.make-vote
                  %i.vote-for.fa.fa-thumbs-o-up{ data: {:image_id => @image.id, :comment_id => comment.id} }
                  %i.vote-against.fa.fa-thumbs-o-down{ data: {:image_id => @image.id, :comment_id => comment.id} }
                
          - else
            .votes
              = link_to '', new_user_session_path, class: 'vote-for fa fa-thumbs-o-up'
              = link_to '', new_user_session_path, class: 'vote-against fa fa-thumbs-o-down'
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'Фтопку', image_comment_path(comment.image, comment), method: :delete
  - else
    .top-comment
      %h1
        Комметариев пока нет
%h1
= render 'add_comment'
