= content_for :metashare do
  - if @image.comments.any?
    %meta{content: "#{@top_comment}", property: "og:title"}/
  - else  
    %meta{content: "Комментариев пока нет", property: "og:title"}/
  %meta{content: "#{@image.image.url(:thumb)}", property: "og:image"}/
  %meta{content: "Комментаторы - это новый вид интерактивного развлечения, который заключается в комментировании картинок с целью попасть в топ лучших, размещенных непосредственно под изображением.", property: "og:description"}/
= content_for(:title, "Комментатор ##{@image.id} | Комментаторы")
.img-header
  %h4.created_at_image
    = @image.created_at.strftime("%d/%m/%Y")
  %h4.title
    Добавил: 
    - if @image.user != nil
      = link_to @image.user.username, user_path(@image.user), rel: 'author'
    - else
      Повелитель удаленных душ
    - if user_signed_in?
      - if current_user.admin?
        - unless @image.godnota?
          %i.godnota.dniwe.fa.fa-thumbs-o-up{ data: {:image_id => @image.id}}
.commentator
  .image-mobile
    = link_to(image_tag(@image.image.url(:medium), class: "resize"), image_path(@image))
    .top-comment
      %h1
        = @top_comment
      - if @image.comments.any?
        %h4
          = link_to(@image.comments.order("rating DESC, created_at ASC").first.user.username, user_path(@image.comments.order("rating DESC, created_at ASC").first.user), rel: 'author')
    .copyright
      %h6
        commentators.to
  %h4.share
    - if current_user.admin?
      = link_to 'Редактировать', edit_image_path(@image)
      = link_to 'Фтопку', image_path(@image), method: :delete
    = render 'layouts/share'
  .under-image
    - if user_signed_in?
      = form_for ([@image, @image.comments.build]), remote: true do |f|
        %p.add-comment
          = f.hidden_field :image_id
          .row
            .col-xs-10.col-sm-10.col-md-10
              = f.text_field :content, maxlength: 70, class: 'form-control', id: 'comment-field'
            .col-xs-2.col-sm-2.col-md-2
              %p#counter
                %span
                  0
    - else
      #not-signed-in
        %h3 Для голосования и комментирования необходимо войти.
    .sort_comments
      = 'Сортировать по'
      - if params[:sort_by] == 'popular'
        = link_to "новизне", :sort_by => "recent"
      - else
        = link_to "популярности", :sort_by => "popular"
    .comments-mobile
      = render partial: 'comments/comment_mobile', collection: @comments, as: :comment
    #with-button
      = will_paginate(@comments)
    - if @comments.next_page
      #load_more_comments.btn.btn-lg.btn-custom.load-more Еще
    #comments
%h1
