.commentator
  .img-header
    %h4.title
      = "##{@image.id}"
      - if current_user.admin?
        = link_to 'Редактировать', edit_image_path(@image)
        = link_to 'Фтопку', image_path(@image), method: :delete
    %h4.share
      Поделиться
  .image
    = image_tag(@image.url, class: "resize")
  .top-comment
    - if @image.comments.any?
      %h1
        = @image.comments.last.content
      %h4
        = link_to(@image.comments.last.user.username, user_path(@image.comments.last.user))
    - else
      %h1
        Еще нету комментариев
%h1
  Комментарии:
- @image.comments.each do |comment|
  %p.comments
    .single_comment
      = link_to comment.user.username, user_path(comment.user)
      = comment.content
      - if current_user.admin?
        = link_to 'Фтопку', image_comment_path(comment.image, comment), method: :delete
%h1
= render 'add_comment'
