%header
  %h1
    = link_to 'Комментаторы', root_path
%nav.navigation
  - if user_signed_in?
    %ul
      %li= link_to current_user.username, user_path(current_user), title: "Профиль"
      %li= link_to 'Выход', destroy_user_session_path, method: :delete, class: "fa fa-sign-out", title: "Выход"
  - else
    %ul
      %li= link_to 'Войти', new_user_session_path
      %li= link_to 'Зарегистрироваться', new_user_registration_path   