- if @image.comments.any?
  .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{@image.id}", "data-yashareTitle" => @top_comment.content}
- else
  .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{@image.id}", "data-yashareTitle" => "Комментариев пока нет"}
/
  = image_tag('/share/vkontakte.png')
  = image_tag('/share/facebook.png')
  = image_tag('/share/twitter.png')
  = image_tag('/share/google_plus.png')
  = image_tag('/share/odnoklassniki.png')