.sidebar
  #profile
    - if user_signed_in?
      #side-menu
        %ul
          %li
            = link_to 'Добавить изображение', new_image_path
          %li
            = link_to 'Редактировать профиль', edit_user_registration_path
          %li
            = link_to 'Выйти', destroy_user_session_path, method: :delete
      .navigation
        = link_to image_tag(current_user.avatar_url, class: 'img-circle'), user_path(current_user), title: "Профиль"
        %h6#profile-karma
          = current_user.karma
    - else
      #profile-sign-in
        %h6#profile-info
          Авторизация с помощью Вконтакте. 
          %br
          Никаких паролей вводить не надо :)
          %br
          Быстро. Удобно. Безопасно.
        %h6#profile-enter
          = link_to 'ВХОД', user_omniauth_authorize_path(:vkontakte)
  #group
    #vk_groups
    :javascript
      VK.Widgets.Group("vk_groups", {mode: 1, width: "353", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 51339143);
  #wall
    -if params[:controller] == 'images' && params[:action] == 'show' || params[:controller] == 'users' && params[:action] == 'show' 
      #vk_comments
      :javascript
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "353", attach: "graffiti,photo,video,audio"});
    -else
      #vk_comments
      :javascript
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "353", attach: "graffiti,photo,video,audio"}, 33);