!!!
%html
  %head
    %title
      Комментаторы
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{type: "text/javascript", src: "//vk.com/js/api/openapi.js?105"}
    :javascript
      VK.init({apiId: 4119973, onlyWidgets: true});
    %script{charset: "utf-8", src: "//yandex.st/share/share.js", type: "text/javascript"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body
    = render 'layouts/header'
    .main
      %nav.navigation
        - if user_signed_in?
          %ul
            - if current_user.admin?
              %li= link_to 'Добавить фотку', new_image_path
            %li= link_to current_user.username, user_path(current_user), title: "Профиль"
            %li= link_to 'Выход', destroy_user_session_path, method: :delete, class: "fa fa-sign-out", title: "Выход"
        - else
          %ul
            %li= link_to 'Войти', new_user_session_path
            %li= link_to 'Зарегистрироваться', new_user_registration_path   
      = yield
    .sidebar
      #vk_comments
      :javascript
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "100%", attach: "graffiti,photo,video,audio"});