!!!
%html
  %head
    = yield(:metashare)
    %title
      = yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{type: "text/javascript", src: "//vk.com/js/api/openapi.js?105"}
    :javascript
      VK.init({apiId: 4119973, onlyWidgets: true});
    %script{charset: "utf-8", src: "//yandex.st/share/share.js", type: "text/javascript"}
    %meta{content: "Комментаторы - это интерактивный развлекательно-познавательный новостной портал. Здесь публикуются самые интересный новости и факты со всего мира, а также картинки, к которым нужно придумать оригинальную подпись.", name: "description"}/
    %meta{content: "Комментоторы, картинки с подписями, весёлые картинки, фотки с подписями", name: "keywords"}/
  %body#desktop
    = render 'layouts/header'
    .wrapper
      .main
        = render 'icons/navigation'
        = yield
      = render 'layouts/sidebar'
    #separator
      Вход, комментарии и многое другое
    = render 'layouts/footer'
    = render 'layouts/google_analytics'
