!!!
%html
  %head
    %title
      Комментаторы
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %script{charset: "utf-8", src: "//yandex.st/share/share.js", type: "text/javascript"}
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .main
      - @recent_images.each do |image|
        .commentator
          .img-header
            %h4.title
              = link_to "##{image.id}", image_path(image)
            %h4.share
              = render 'layouts/share'
          .image
            = link_to(image_tag(image.url, class: "resize"), image_path(image))
          .top-comment
            - if image.comments.any?
              %h1
                = image.comments.order("rating DESC").first.content
              %h4
                = link_to(image.comments.order("rating DESC").first.user.username, user_path(image.comments.last.user))
            - else
              %h1
                Еще нету комментариев
      = will_paginate @recent_images
     